header {
    background-color: rgb(9, 227, 9);
    padding: 20px;
    border-radius: 6px;
}
nav{
    background-color:rgb(0, 137, 0) ;
    color: white;
    padding: 10px;
    border-radius: 3px;
}
aside{
    background-color: orange;
    display: inline-block;
    width: 25%;
    border-radius: 6px;
    padding: 5px;
}
.aside_left{
    margin-top: 10px;
    margin-bottom: 10px;
}
.aside_right{
    margin-top: 10px;
    margin-bottom: 10px;
}
main{
    background-color: red;
    display: inline-block;
    padding: 20px;
    margin: 10px;
    width: 27%;
    border-radius: 6px;
}
article{
    background-color: white;
    margin: 10px;
    border-radius: 3px;
}
footer{
    background-color: blueviolet;
    bottom: 10px;
    width: 96%;
    border-radius: 6px;
}